server:
  port: ${SERVICE_PORT:8080}
spring:
  application:
    name: gateway
  config:
    import: ${CONFIG_IMPORT:configserver:http://localhost:8888}
  profiles:
    include:
      - eureka
      - security
      - metric
      - trace

  cloud:
    gateway:
      routes:
        - id: moderator-service
          uri: lb://moderator-service
          predicates:
            - Path=/api/moderator/**
          filters:
            - StripPrefix=1
        - id: loan-service
          uri: lb://loan-service
          predicates:
            - Path=/api/loan/**
          filters:
            - StripPrefix=2
        - id: book-service
          uri: lb://book-service
          predicates:
            - Path=/api/**
          filters:
            - StripPrefix=1
        - id: auth
          uri: http://${AUTH_HOST:localhost}:${AUTH_PORT:9000}
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1
        - id: config
          uri: http://${CONFIG_HOST:localhost}:${CONFIG_PORT:8888}
          predicates:
            - Path=/conf/**
          filters:
            - StripPrefix=1
